* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.btn {
  padding: 14px 17px;
  background-color: #34abeb;
  border: 1px solid #34abeb;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #34abeb;
  color: #34abeb;
}

h3 {
  margin: 15px 0;
}